.page {
  margin: 0 auto;
}

body {
  color: #414141;
  background-color: #c26eff;
  font-size: 18px;
  text-align: center;
}

.page p {
  width: 100%;
  margin-top: 20%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    font-family: Verdana, Geneva, sans-serif;
    color: gray;
}

h4 {
    color: #5A5A5A;
}

a:link {
    color: #414141;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#jokeButton {
  color: rgb(255, 255, 255); 
  border-radius: 15px;
  background-image: 
  linear-gradient(to right, rgb(221, 113, 45) 0%, rgb(255, 234, 19) 50%, rgb(224, 137, 43) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  margin-bottom: 50px;
  width: 40%;
  height: 60px;
  font-size: 1.3em;
  font-family: Verdana, Geneva, sans-serif;
  cursor: pointer;
}

#joke {
    border: 4px solid #711EA4;
    border-width: medium;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .page p {
        font-size: 80px;
    }
    #jokeButton {
        width: 85%;
        font-size: 30px;
    }
    .footer {
        font-size: 20px;
    }
    #joke {
        font-size: 30px;
    }
}